@inject IOptionsSnapshot<BlogSettings> settings
@inject WebManifest manifest
@{
    var host = Context.Request.Scheme + "://" + Context.Request.Host;
}
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Description"]" />

    <link rel="preload" href="~/js/site.js" as="script" />
    <link rel="preload" href="~/css/belowthefold.scss" as="style" />
    <noscript><link rel="stylesheet" href="~/css/belowthefold.scss" /></noscript>
    @RenderSection("Preload", required: false)
    <link rel="stylesheet" href="~/css/abovethefold.scss" inline />

    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:url" content="@(host + Context.Request.Path)" />
    <meta property="og:image" content="@host/img/icon512x512.png" />
    <meta property="og:image:width" content="512" />
    <meta property="og:image:height" content="512" />

    <meta name="msapplication-square150x150logo" content="~/img/icon180x180.png" />

    <link rel="icon" type="image/png" sizes="16x16" href="~/img/icon16x16.png" />
    <link rel="apple-touch-icon" href="~/img/icon180x180.png" />
    <link rel="shortcut icon" href="~/img/icon16x16.png" />

    <link rel="edituri" type="application/rsd+xml" title="RSD" href="~/rsd.xml" />
    <link rel="alternate" type="application/rss+xml" href="~/feed/rss/" />
    <link rel="alternate" type="application/atom+xml" href="~/feed/atom/" />
    @RenderSection("Head", required: false)
</head>
<body itemscope itemtype="http://schema.org/WebPage">

    <header class="siteheader">
        <div class="container">
            <p itemprop="name"><a href="~/">@manifest.Name</a></p>
            By <span itemprop="author">@settings.Value.Owner</span>
            <br />
            <div style="display:inline">
                <a href="~/feed/rss" target="_blank" rel="noopener noreferrer nofollow">
                    <svg xmlns="http://www.w3.org/2000/svg" height="48" width="38" viewBox="0 0 32 32">
                        <g>
                            <path id="path1" transform="rotate(0,16,16) translate(8.02675008773804,8) scale(0.5,0.5)  " fill="#000000" d="M4.2859949,23.368988C5.4799947,23.368988 6.4580067,23.780975 7.2880086,24.65799 8.1640004,25.536987 8.576003,26.517975 8.576003,27.705994 8.576003,28.89798 8.1640004,29.879974 7.2880086,30.707977 6.4580067,31.584991 5.4799947,32 4.2859949,32 3.1049954,32 2.117004,31.584991 1.2389984,30.707977 0.4150086,29.879974 1.22458E-07,28.89798 0,27.705994 1.22458E-07,26.517975 0.4150086,25.536987 1.2389984,24.65799 2.117004,23.780975 3.1049954,23.368988 4.2859949,23.368988z M0.20899963,10.802979C5.9929951,10.802979 10.852003,12.817993 14.990994,16.953003 19.072002,21.09198 21.143993,26.002991 21.143993,31.738983L14.990994,31.738983C14.990994,29.828003 14.678999,27.912994 13.902998,26.052979 13.182005,24.246002 12.094007,22.692993 10.701002,21.246002 9.3039998,19.852997 7.697997,18.764984 5.8899983,18.041992 4.083999,17.264984 2.2210079,16.902985 0.20899963,16.902985z M0.20899963,0C8.9950093,0 16.434996,3.098999 22.643001,9.3049927 28.792993,15.506989 31.893,23.056976 31.893,31.793976L25.794002,31.793976C25.794002,24.709991 23.261013,18.66098 18.292995,13.595001 13.333006,8.6299744 7.2890004,6.098999 0.20899963,6.098999z" />
                        </g>
                    </svg>
                </a>
                <a href="https://www.linkedin.com/in/normansolutions" target="_blank" rel="noopener noreferrer nofollow">
                    <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0 0 28 28">
                        <g>
                            <path id="path1" transform="rotate(0,16,16) translate(8.02675008773804,8) scale(0.5,0.5)  " fill="#000000" d="M5.366,2.973c0,1.376-1.035,2.479-2.699,2.479H2.636C1.034,5.453,0,4.348,0,2.973c0-1.409,1.067-2.482,2.698-2.482
							C4.331,0.49,5.336,1.564,5.366,2.973z M0.28,21.766h4.772V7.413H0.28V21.766z M16.764,7.077c-2.531,0-3.664,1.39-4.301,2.37v0.046
							h-0.031c0.012-0.014,0.023-0.03,0.031-0.046V7.414H7.692c0.062,1.345,0,14.353,0,14.353h4.771v-8.016
							c0-0.432,0.029-0.855,0.157-1.164c0.346-0.854,1.132-1.747,2.446-1.747c1.729,0,2.42,1.319,2.42,3.247v7.68h4.771v-8.229
							C22.258,9.126,19.902,7.077,16.764,7.077z" />
                        </g>
                    </svg>
                </a>
                <a href="https://twitter.com/normansolutions" target="_blank" rel="noopener noreferrer nofollow">
                    <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48" viewBox="0 0 48 48">
                        <g>
                            <path id="path1" transform="rotate(0,24,24) translate(11,15.2741569876671) scale(0.8125,0.8125)  " fill="#000000" d="M22.154999,0C24.042999,-1.7628554E-07 25.749008,0.65798962 26.947006,1.7119909 28.442001,1.4689947 29.848007,1.0179904 31.115997,0.39599609 30.626007,1.662995 29.585007,2.724992 28.229004,3.3959822 29.557007,3.2650008 30.822998,2.9739849 32,2.5419931 31.119995,3.6299912 30.007004,4.5850088 28.723999,5.3489863 28.737,5.581988 28.742996,5.8159968 28.742996,6.0510127 28.742996,13.215994 22.139008,21.478999 10.063995,21.478999 6.3560028,21.478999 2.9059982,20.581018 0,19.042016 0.51399994,19.092004 1.0370026,19.118005 1.5660019,19.118005 4.6419983,19.118005 7.4729996,18.251001 9.7189941,16.796991 6.8470001,16.753015 4.4220047,15.184989 3.586998,13.030996 3.987999,13.094992 4.3990021,13.128988 4.8219986,13.128988 5.4209976,13.128988 6.0009995,13.062002 6.5510025,12.938009 3.5480042,12.439993 1.2850037,10.249013 1.2850037,7.6219975 1.2850037,7.5989873 1.2850037,7.5760075 1.2860031,7.5540044 2.1709976,7.9600102 3.1839981,8.2029917 4.2600021,8.2320139 2.4980011,7.2589909 1.3390045,5.5999934 1.3390045,3.7180037 1.3390045,2.724992 1.663002,1.7929999 2.2280045,0.99299669 5.4660034,4.2729971 10.302994,6.4309875 15.759995,6.6580078 15.647995,6.2610046 15.589996,5.8470027 15.589996,5.4219844 15.589996,2.4279947 18.529007,-1.7628554E-07 22.154999,0z" />
                        </g>
                    </svg>
                </a>
            </div>
            <hr class="style-ns" />
        </div>

    </header>

    <main itemprop="mainEntity" itemscope itemtype="http://schema.org/Blog">
        <noscript>
            <p class="container">Some features of this website do not work as expected when JavaScript is disabled</p>
        </noscript>
        @RenderBody()
    </main>

    <footer class="sitefooter">
        <div class="container">
            <p>
                Copyright &copy; @DateTime.Now.Year
                <a href="https://twitter.com/normansolutions" rel="noopener noreferrer" target="_blank">@@Normansolutions</a>
            </p>
        </div>
        <nav>
            <ul>
                @{
                    string path = Context.Request.Path;

                    if (User.Identity.IsAuthenticated)
                    {
                    <li><a asp-controller="Blog" asp-action="Edit">New post</a></li>
                    <li><a href="~/logout/" title="Sign out as administrator">Sign out</a></li>
                    }
                    else
                    {
                    }
                }
            </ul>
        </nav>
    </footer>

    <!-- This lazy loads the stylesheet in a non-render blocking way -->
    <link rel="preload" href="~/css/belowthefold.scss" as="style" />
    <noscript><link rel="stylesheet" href="~/css/belowthefold.scss" /></noscript>

    <script src="~/js/site.js" async defer></script>
    @RenderSection("Scripts", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37453744-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-37453744-1');
    </script>
    <script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/1.0.1/quicklink.umd.js" integrity="sha256-C263ivmvS8yMhgoQ9DuzlYuXnPdHFDMF+XDYv4tTiuk=" crossorigin="anonymous"></script>
    <script>
        window.addEventListener('load', () => {
            quicklink({
                origins: true,
                priority: true
            });
        });
    </script>
</body>
</html>
